#hint{
    align-items: center;
    font-weight: 200;
    margin-top: 400px;
    margin-left: 800px;

}
#hiddenBtn{
    background-color: rgb(253, 246, 246);
    border-color: rgb(253, 246, 246);
    position: absolute;
    bottom: 0px;
    right: 20px;
    width: 5px;
    height: 5px;
    font-size: 3px;
}
body{
    height:525px;
    background:linear-gradient(to right,gray,lightgray,rgb(253, 246, 246)) ;

}
