body{
    font-size: 28px;
    font-weight: 600;
    background: linear-gradient(to left,white,rgb(115, 188, 241))
}
#floor{
    display: none;
}
#btn1{
    border-color: aqua;
    border: 3px solid;
    border-radius:7px;
    background-color: antiquewhite;
    height: 40px;
    font-size:29px;
    font-weight: 600;
}
#btn1:hover{
    background-color: lightgray;
}