body{
    background: linear-gradient(tomato,orange,yellow,lightyellow);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0; 
    margin: 0; 
}
.counter-display{
    margin-left: 875px;
    height: 100px;
    width: 75px;
}
.buttons{
    align-items: center;
    margin-left: 600px;
    margin-top: 300px;
}
#number{
    font-size: 100px;
}
#plus{
    background-color: lime; 
    border-color: black;
    border-radius: 15px;
    border: 2px solid;
    height: 50px;
    width: 200px;
    font-size: 30px;
    font-weight: 700;
}
#reset{
    background-color: aqua; 
    border-color: black;
    border-radius: 15px;
    border: 2px solid;
    height: 50px;
    width: 200px;
    font-size: 30px;
    font-weight: 700;
}
#minus{
    background-color: purple; 
    border-color: black;
    border-radius: 15px;
    border: 2px solid;
    height: 50px;
    width: 200px;
    font-size: 30px;
    font-weight: 700;
}
#plus:hover{
    background-color: lightgrey; 
}
#reset:hover{
    background-color: lightgrey; 
}
#minus:hover{
    background-color: lightgrey; 
}
