body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size:20px;
    font-weight: 500;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.light-mode button {
    background-color: #000000;
    color: #ffffff;
}

body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

body.dark-mode button {
    background-color: #ffffff;
    color: #000000;
}
